.ellipse45 {
  position: absolute;
  left: 0%;
  right: 60%;
  top: 85%;
  bottom: 0%;

  background: #E9A75A;
  border-radius: 50% / 100%;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
  opacity: 0.3;
}

.ellipse46 {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 85%;
  bottom: 0%;

  background: #E9A75A;
  border-radius: 50% / 100%;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
  opacity: 0.3;
}

.ellipse47 {
  position: absolute;
  left: 60%;
  right: 0%;
  top: 85%;
  bottom: 0%;

  background: #E9A75A;
  border-radius: 50% / 100%;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
  opacity: 0.3;
}